# ───── Dependencias Node ─────
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ───── Builds / Bundles ─────
dist/
public/
.vite/

# ───── Variables de entorno / secretos ─────
.env
.env.*.local

# ───── Logs ─────
logs/
*.log

# ───── Herramientas de calidad / tests ─────
.eslintcache
coverage/
.nyc_output/
playwright-report/
cypress/videos/
cypress/screenshots/

# ───── IDE / SO ─────
.vscode/
.DS_Store
Thumbs.db
