* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(Imagenes/Fondo.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.sidebar {
    width: 100%;
    border: apx solid #eee;
    height: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidehead {
    background-color: #196EF0;
}

.sidehead .Logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

.fa-brands {
    font-size: 38px;
    margin: 0 10px;
    color: #eee;
    cursor: pointer;
}

.Logoinicial:hover, .Redes:hover{
    transform: scale(0.89);
}

.Form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    height: 630px;
    font-weight: bold;
    background-color: #ffffff;
}

form {
    padding: 20px 20px;
    font-family: Arial, Helvetica, sans-serif ;
    font-size: 13px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 50px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif ;
}

form .username {
    position: relative;
    border-bottom: 2px solid #196EF0;
    margin: 15px ;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    border: none;
    background-color: #F7F7F7;
    outline: none;
}

.recordar {
    text-align: right;
}

.Registrar {
    border-radius: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 20px;
    width: 350px;
    cursor: pointer;
    color: white;
    background-color: #333;
}

.Registrar:hover {
    background-color: #196EF0;
}



